{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% load static %}
{% block content %}

<!-- <style>
  body {
      background: url('/static/images/login-bg-img.jpg') center center fixed;
      background-size: cover;
  }
</style> -->

<body class="auth-bg-img">
  <div class="container mt-5 login-bg text-center">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3><strong>{% trans "Sign In" %}</strong></h3>
        <p>{% blocktrans %}Welcome back to Craft Masters! To leave a comment or like a post, please log in. If you
          have not created an account yet, then <a class="signup-link" href="{{ signup_url }}">sign up</a>
          first.{% endblocktrans %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn signup-btn" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}