* {
    margin: 0;
    padding: 0;
    border: none;
}

/* ----- hero image ----- */

.image-container{
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
}

.centered-main-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px white;
    padding: 15px;
}

.hero-image{
    max-height: 900px;
    width: 100%;
}

/* ----- about section ----- */

.text-center{
    align-self: center;
    text-align: center;
}

.heading-space{
    margin: 15px 0 20px 0;
}

.home-hr{
    margin: auto;
    width: 60%;
}

/* footer */

footer{
    margin-top: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: contents;
}

.footer-container{
    border-top: solid 1px rgba(0,0,0,0.2);
}

.footer-link{
    text-decoration: none;
    color: black;
}

.footer-social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul.fa-ul{
    margin-left: 0;
}

.light-grey-text, li > p {
    color: #4c4e52;
}

.open-hours{
    color: black;
    font-weight: 600;
}

.footer-copyright{
    color: #d3d3d3;
    max-width: 100%;
}

/* ----- projects page ----- */

.card {
    border: none;
    background-color: transparent;
}

/* ensuring image fits container */
.project-image-container {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.project-card-image-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-label {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #f26749;
}

.author {
    color: white;
    margin: 4px 4px 4px 8px;
    text-transform: uppercase;
}

.project-title {
    margin-left: 10px;
    font-weight: 550;
}

/* Minimising display of description text */
/* Utilises vertical scrollbar upon content overflow */
.project-description {
    margin-left: 10px;
    max-height: 72px;
    white-space: normal;
    line-height: 24px;
    overflow-y: auto;
}

.project-info {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.read-article {
    margin: 10px 15px 0 0;
    color: #3a3a3a;
}

.like-counter {
    margin-left: 5px;
}

.project-link {
    text-decoration: none;
    color: #3a3a3a;
}

.project-link:hover,
.page-link {
    color: #d12600;
}

/* ----- project detail page ----- */

.project-banner {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.project-banner-text {
    background-color: #f26749;
    color: white;
    position: relative;
}

.project-banner-image {
    position: relative;
    overflow: hidden;
}

.project-banner-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #f26749;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-title {
    margin-top: 18%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}


/* ----- Media Queries ----- */

@media (min-width: 1400px) {
    .read-article-home {
        margin-left: 5.2px;
    }

    .about{
        width: 50%;
    }
}

@media (max-width: 1300px) {
    .project-image-container {
        height: 350px;
    }
}

@media (max-width: 990px) {
    .project-image-container {
        height: 300px;
    }

    .project-banner {
        height: 200px;
    }
    
}

@media (max-width: 900px) {
    .project-image-container {
        height: 200px;
    }

    .like-counter {
        margin-left: 0;
    }
    
}

@media (max-width: 767px) {
    .project-image-container {
        height: 300px;
    }

    .project-banner {
        height: 500px;
    }

    .project-banner-image:after {
        display: none;
    }

    .post-title {
        margin-top: 15%;
    }
    
}

@media (max-width: 575px) {

    .project-banner {
        height: 400px;
    }
    
}