* {
    margin: 0;
    padding: 0;
    border: none;
}

/* ----- hero image ----- */

.image-container{
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
}

.centered-main-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px white;
    padding: 15px;
}

.hero-image{
    max-height: 900px;
    width: 100%;
}

/* ----- about section ----- */

.text-center{
    align-self: center;
    text-align: center;
}

.heading-space{
    margin: 15px 0 20px 0;
}

.about{
    padding: 15px;
    width: 50%;
}

.about-hr{
    margin: auto;
    width: 60%;
}

.about-text{
    padding-top: 20px;
}

