{% extends "base.html" %}
{% block home_active %}active{% endblock %}
{% load static %}

{% block content %}
<!-- Heading | Hero-->
<div class="image-container">
    <img class="d-block w-90 m-auto hero-image" src="{% static 'images/wood-working-table.jpg' %}"
        alt="Wood working table">
    <h1 class="centered-main-title">Craft Masters</h1>
</div>

<div class="container pt-4 about text-center">
    <h2 class="heading-space">About Us</h2>
    <hr class="home-hr">
    <p class="pt-4">
        "Welcome to Craft Masters, a digital haven for woodworking enthusiasts and artisans alike! Dive into a world
        where creativity meets craftsmanship, and share your passion for wooden wonders. Whether you're a seasoned
        woodworker or just starting your journey, Craft Masters is the perfect platform to showcase and celebrate the
        art of woodworking. Explore a diverse community of makers, exchange ideas, and discover the endless
        possibilities of wooden crafts. Join us in celebrating the beauty, skill, and ingenuity of woodworking at Craft
        Masters - where every project tells a unique story in wood."
    </p>
</div>
<br>
<!-- Latest Projects -->
<div class="container">
    <h2 class="heading-space text-center">Latest Projects</h2>
    <hr class="home-hr">
    <p class="py-4 text-center">
        Take a look at some of our newest posts! Head to the <a class="link" href="{% url 'projects' %}">Projects</a>
        page to view more!
    </p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for project in object_list %}
        <div class="col">
            <div class="card">
                <div class="project-image-container">
                    <!-- Shows default image if there is no image available -->
                    {% if "placeholder" in project.title_image.url %}
                    <img class="card-img-top project-card-image-top"
                        src="{% static 'images/project-placeholder.jpeg' %}">
                    {% else %}
                    <img class="card-img-top project-card-image-top" src=" {{ project.title_image.url }}">
                    {% endif %}
                    <div class="new-label rounded">
                        <p class="new-text text-center">NEW</p>
                    </div>
                </div>
                <!-- url allows users to open specific post in the detailed post view -->
                <a href="{% url 'project_detail' project.slug %}" class="project-link">
                    <h2 class="card-title project-title fw-bold">{{ project.title }}</h2>
                    <p class="card-text project-description scroll">{{ project.description }}</p>
                </a>
                <p class="mb-0 ms-2 mt-1">
                    By {{ project.author }}
                </p>
                <p class="card-text text-muted h6 project-info">
                    <span class="mt-2">
                        {{ project.created_on|date:"F d Y" }}
                        <i class="far fa-heart like-counter"></i> {{ project.number_of_likes }}
                    </span>
                    <a href="{% url 'project_detail' project.slug %}"
                        class="project-link read-article read-article-home"><span>Read
                            Article &#8594;</span></a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br>


{% endblock %}