{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Heading | Hero-->
<div class="image-container">
    <img class="d-block w-90 m-auto hero-image" src="{% static 'images/wood-working-table.jpg' %}"
        alt="Wood working table">
    <h1 class="centered-main-title">Craft Masters</h1>
</div>

<div class="container about">
    <h2 class="text-center heading-space">About Us</h2>
    <hr class="about-hr">
    <p class="about-text">
        "Welcome to Craft Masters, a digital haven for woodworking enthusiasts and artisans alike! Dive into a world
        where creativity meets craftsmanship, and share your passion for wooden wonders. Whether you're a seasoned
        woodworker or just starting your journey, Craft Masters is the perfect platform to showcase and celebrate the
        art of woodworking. Explore a diverse community of makers, exchange ideas, and discover the endless
        possibilities of wooden crafts. Join us in celebrating the beauty, skill, and ingenuity of woodworking at Craft
        Masters - where every project tells a unique story in wood."
    </p>
</div>


{% endblock %}