{% extends "base.html" %}
{% block project_drafts_active %}active{% endblock %}
{% load static %}
{% block content %}
<div class="container pt-4 about text-center">
    <h1 class="text-center mt-5 mb-4 fw-bold">Your Drafts</h1>
    <hr class="home-hr">
    <p class="pt-4">
        Here you can find your drafted projects. You can see what your projects will look like before they are published to
        the main site. When you're ready, you can set the project status to <strong>Published</strong> to send it to the
        projects page!
    </p>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Drafted Projects Posts Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for project in drafted_projects %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="project-image-container">
                                <!-- Shows default image if there is no image available -->
                                {% if "placeholder" in project.title_image.url %}
                                <img class="card-img-top project-card-image-top"
                                    src="{% static 'images/project-placeholder.jpeg' %}">
                                {% else %}
                                <img class="card-img-top project-card-image-top" src="{{ project.title_image.url }}">
                                {% endif %}
                                <div class="author-label">
                                    <p class="author">Author: {{ project.author }}</p>
                                </div>
                            </div>
                            <!-- url allows users to open specific post in the detailed post view -->
                            <a href="{% url 'project_detail' project.slug %}" class="project-link">
                                <h2 class="card-title project-title">{{ project.title }}</h2>
                                <p class="card-text project-description scroll">{{ project.description }}</p>
                            </a>
                            <br>
                            <p class="card-text text-muted h6 project-info">
                                <span>
                                    {{ project.created_on|date:"F d Y" }}
                                    <i class="far fa-heart like-counter"></i> {{ project.number_of_likes }}
                                </span>
                                <a href="{% url 'project_detail' project.slug %}"
                                    class="project-link read-article mb-2"><span>Read Article &#8594;</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- starts new row if there are more than 3 posts -->
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- handles pagination for more than 6 posts -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link page-btn">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link page-btn"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}